.ui.image.product-icon{
    width: auto;
    height: 100px;
     
    }

.grid-table {
    position: relative;
    width: 60%;
}

.grid-table>.row{
    height: 120px;
     
}
.four.wide.column{
 width: 70% !important;
}
 