.ui.fixed.menu.top{
    background-color: rgba(195, 141, 245, 0.486);
    box-shadow:10px 8px 4px 4px; color:rgb(219, 194, 238);
}

.customHeader, .pusher{
    height: 60px;
}
#drop-down{
    z-index: 9999;
}