.ui.fixed.menu.top{
    background-color: rgb(195, 141, 245);
    box-shadow:10px 8px 4px 4px; color:rgba(220, 209, 230, 0.493);
}

.customHeader, .pusher{
    height: 60px;
}
#drop-down{
    z-index: 9999;
}