.ui.fixed.menu.top{
    background-color: rgb(162, 118, 202);
    box-shadow: 0px 10px; color:rgba(136, 126, 139, 0.507);
}

.customHeader, .pusher{
    height: 60px;
}
#drop-down{
    z-index: 9999;
}