.ui.fixed.menu.top{
    background-color: rgb(195, 141, 245);
    box-shadow:10px 8px 4px 4px; color:rgb(242, 238, 245);
}

.customHeader, .pusher{
    height: 60px;
}
#drop-down{
    z-index: 9999;
}