.ui.fixed.menu.top{
    background-color: rgb(195, 141, 245);
    box-shadow: 0px 20px; color:rgba(244, 241, 247, 0.041);
}

.customHeader, .pusher{
    height: 60px;
}
#drop-down{
    z-index: 9999;
}