.login-body{
    height: 400px;
    background-color: rgb(217, 196, 233);
}
.login{ 
    width: 8%;
}
.ui.violet.message.massage-login{
  font-size: 15px;
  color: rgb(113, 56, 160);
  padding:2px;
  background-color: rgb(230, 217, 243);
}
.main{
    background-color: rgb(229, 225, 233);  
} 