.login-body{
    height: 400px;
    background-color: rgb(212, 171, 245);
}
.login{ 
    width: 8%;
}
.ui.violet.message.massage-login{
  font-size: 15px;
  color: rgb(134, 76, 182);
}
.main{
    background-color: rgb(242, 236, 247);  
} 