.login-body{
    height: 400px;
    background-color: rgb(209, 195, 219);
}
.login{ 
    width: 8%;
}
.ui.violet.message.massage-login{
  font-size: 15px;
  color: rgb(134, 76, 182);
  padding:2px;
  background-color: rgb(230, 217, 243);
}
.main{
    background-color: rgb(229, 225, 233);  
} 