/*.login-body{
    background-image:  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmXnk3tWV9U5cHmQBu-nVMhcTnyNa-4kM4Xw&usqp=CAU );
    background-repeat: no-repeat;
    background: cover;
    height: 400px;
}*/
.login{
    border: none;
    padding:5px;
    border-radius:50px;
    width: 7%;
    background-color: rgb(156, 111, 197);
    color:white;
    box-shadow: rgb(157, 139, 173)  5px 10px 10px;
}
.login:hover{
    width: 8%;
    background-color: white;
    color:rgb(109, 67, 148); 
}