 
.ui.card>.image>img,
.ui.cards>.card>.image>img {
    width: 100px;
    background:none;
}
.cardItemStyle{
    color:rgb(220, 204, 236);
    background-color: blueviolet;
    border: 1px solid blueviolet; 
    box-shadow: 20px 30px 30px 16px color rgb(166, 80, 247);
}